<table id="employeeTable" class="custom-table table-hover table-striped" style="width:100%">
    <thead class="custom-header table-header">
      <tr>
        <th>Employee ID</th>
        <th>Department ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Role</th>
      </tr>
    </thead>
  </table>
  
  <div class="buttonGroup">
    <button id="updateBtn" class="btn btn-info update-button" disabled>Update</button>
    <button id="deleteBtn" class="btn btn-danger delete-button" disabled>Delete</button>
  </div>
  