<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="APP_LOG_ROOT">C:/interland/logs</Property>
	</Properties>
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%msg%n" />
				<!-- <PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
		</Console>
		<RollingFile name="LogToFileTrace"
			fileName="${APP_LOG_ROOT}/employee-service/application.log"
			filePattern="${APP_LOG_ROOT}/psh-common-payment-service/application-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.alfaris.ipsh" level="debug"
			additivity="false">
			<AppenderRef ref="LogToFileTrace" level="info" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="LogToFileTrace" />
		</Root>
	</Loggers>
</Configuration>